h1 {
    color: rgb(45, 183, 218);
}
body {
   background-color: rgb(50, 51, 51);
   color: white;
   font-family: Helverica Neue, Helvetica, Arial, sans-serif;
   margin: 0px;
   padding: 0px;
}


header {
   background-color: rgb(230,210,131);
   padding: 10px;
   height: 100px;
   margin-top: 10px;
   text-align: center;
   margin-bottom: 20px;
}

header li {
   color: rgb(43,59,72);
   text-decoration: none;
   text-transform: uppercase;
   vertical-align: middle;
   display: inline;
   margin: 20px;
   list-style-type: none;
   margin-left: 10;
   padding: 0;
}

header .logo a {
   background-image: url("images/titanic_logo_main.png");
   background-size: 300px;
   display: inline-block;
   background-repeat: no-repeat;
   height: 80px;
   width: 300px;
   position: relative;
   margin-top: 10px;
   text-indent: -9999999999px;

}

a:visited{
   color:rgb(43,59,72);
 }

section {
   background-color: rgb(43,59,72);
   padding: 20px;
   display: flex;
   flex-direction: row;
}

.features {
   display: flex;
   text-align: center;
   flex-direction: row;
   margin-bottom: 20px;
}

.features figure {
   margin: auto;
   width: 200px;
   background-size: 180px;
   color: rgb(230,210,131);

}

.features figure img {
   border-radius: 10%;
   width: 200px;
   
}

.about_project {
   background-color: rgb(230,210,131);
   color: rgb(43,59,72);
   display: block;
   padding: 40px;
   text-align: left;
   margin-bottom: 20px;

}

.about_me {
   background-color: rgb(230,210,131);
   color: rgb(43,59,72);
   display: block;
   padding: 40px;
   text-align: left;

}

.predict_form {
   background-color: rgb(230,210,131);
   color: rgb(43,59,72);
   display: block;
   padding: 40px;
   text-align: left;

}



footer {
   background-color: black;
   padding: 20px 20px;
   font-size: 10px;
   color: gray;
   text-align: center;

}


/*point of breakdown 710*/

@media screen and (max-width: 710px) {

   header li { 
      display: block;
      margin: 10px;
      text-align: left;
      font-size: 10px;
   }

   header .logo a {
      background-size: 100px;
      height: 40px;
      width: 150px;
      display: block;
      
   }

   .features {
      display: block;
   }

   .features figure {
      margin-bottom: 20px;
   }

   .features figure img {
      border-radius: 10%;
      width: 150px;
      height: 140px;
      
   }



}